---
import Layout from "../layouts/Layout.astro";

import sirene from "../data/forme-sirene.json";
import princesse from "../data/forme-princesse.json";
import minimaliste from "../data/minimaliste.json";
import boheme from "../data/style-boheme-chic.json";

// Fusionner tous les fichiers JSON et enlever les doublons
const allRobes = [...sirene, ...princesse, ...minimaliste, ...boheme];
const robes = allRobes.reduce((acc, robe) => {
  if (!acc.some((r) => r.dressName === robe.dressName)) {
    acc.push(robe);
  }
  return acc;
}, []);
---

<Layout
  title="Toutes nos robes de mariée | Monica Mariage"
  description="Découvrez notre collection de robes de mariée, disponibles dans différents styles et tailles. Trouvez la robe parfaite pour votre mariage à Toulouse."
>
  <section style='margin-top: 120px;' class="py-1 bg-gradient-to-b from-white to-[#FDE9E6]">
    <div class="flex justify-center px-4">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl w-full">
        {robes.map((robe, index) => (
         <a 
          href={`/robes-de-mariee/${robe.category}/${robe.dressName.replace(/\s+/g, "-").toLowerCase()}`} 
          class="text-center cursor-pointer fade-in"
          data-index={index}  // Ajout d'un index pour le délai unique
         >
            <div class="relative">
              <div class="absolute inset-0 bg-[#af7749] opacity-20 z-10"></div>
              <img
                src={robe.optimizedImages.gallery.desktop}
                alt={robe.dressName}
                width="300"
                height="400"
                class="w-full object-cover rounded max-h-96 hover:scale-105"
                loading="lazy"
              />
            </div>
            <p class="mt-2 pb-2 text-[#af7749] font-cursive text-3xl">
              {robe.dressName}
            </p>
            <button class="bg-[#af7749] text-white py-1 px-3 sm:py-2 sm:px-4 rounded-lg shadow-lg hover:bg-[#925c36] transition duration-300 text-sm sm:text-base">
              Découvrir cette robe
            </button>
          </a>
        ))}
      </div>
    </div>
  </section>

  <script defer>
    document.addEventListener("DOMContentLoaded", () => {
      setTimeout(() => {
        document.querySelectorAll(".fade-in").forEach((el, index) => {
          setTimeout(() => {
            el.classList.add("active");
          }, index * 200); // Délai progressif de 200ms par robe
        });
      }, 500);
    });
  </script>

  <style>
    .fade-in {
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    }
    .fade-in.active {
      opacity: 1;
      transform: translateY(0);
    }
  </style>
</Layout>
