---
// Layout.astro
import Header from "../components/Header.astro";
import "../styles/global.css";
import FloatingButton from "../components/FloatingButton.astro";
import Footer from "../components/Footer.astro";
import ModalForm from "../components/ModalForm.astro";
import AppointmentBar from "../components/AppointmentBar.astro";
import FolatingButtonWhatsapp from "../components/FolatingButtonWhatsapp.astro";
import WhatsAppModalForm from "../components/WhatsAppModalForm.astro";
const {
  title = "Monica Mariage - Boutique de Robes de Mariée",
  description = "Découvrez nos robes de mariée sur-mesure à Toulouse.",
} = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/images/cover-robes.jpg" />
    <meta property="og:url" content={Astro.url} />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"
    ></script>
  </head>
</html>
<body>
  <Header />
  <slot />
  <!-- <FloatingButton /> -->
  <FolatingButtonWhatsapp />
  <Footer />
  <AppointmentBar />
  <ModalForm isVisible={false} />
  <WhatsAppModalForm />
  <!-- <AppointmentBar /> -->
</body>
