---
// Layout.astro
// import SpeedInsights from "@vercel/speed-insights/astro";

import Header from "../components/Header.astro";
import "../styles/global.css";
import FloatingButton from "../components/FloatingButton.astro";
import Footer from "../components/Footer.astro";
import ModalForm from "../components/ModalForm.astro";
import AppointmentBar from "../components/AppointmentBar.astro";
import FolatingButtonWhatsapp from "../components/FolatingButtonWhatsapp.astro";
import WhatsAppModalForm from "../components/WhatsAppModalForm.astro";
import PwaBanner from "../components/PwaBanner.astro";
import Analytics from "../components/Analytics.astro";
import ImagePreloader from "../components/ImagePreloader.astro";
const {
  title = "Monica Mariage - Boutique de Robes de Mariée",
  description = "Découvrez nos robes de mariée sur-mesure à Toulouse.",
  mainImageUrl = "", // Nouvelle prop pour l'image principale
} = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/images/cover-robes.jpg" />
    <meta property="og:url" content={Astro.url} />
    <link
      rel="preload"
      href="/fonts/great-vibes-v19-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/lora-v35-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/cormorant-garamond-v19-latin-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- Déplacer cette balise dans la section <head> du document -->

    <!-- <link rel="manifest" href="/manifest.json" /> -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Préchargement conditionnel de l'image principale -->
    {mainImageUrl && <ImagePreloader imageUrl={mainImageUrl} />}
  </head>
  <body>
    <Header />
    <slot />
    <!-- <FloatingButton /> -->
    <FolatingButtonWhatsapp />
    <Footer />
    <AppointmentBar />
    <ModalForm isVisible={false} />
    <!-- <WhatsAppModalForm /> -->

    <!-- <script src="/registerServiceWorker.js" defer></script>
    <PwaBanner /> -->
    <!-- <AppointmentBar /> -->
    <!-- <SpeedInsights /> -->
    <Analytics measurementId="G-H8RDXC45EX" />
    <!-- Remplacez par votre ID réel -->
  </body>
</html>
